<div fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card class="getNoteDiv"  *ngFor="let item of notesTrashArray" [ngStyle]="{'background': item.colour}">

        <mat-card-content >
           <p> {{ item.title }} </p>
           <p> {{ item.description}} </p>
      </mat-card-content>
  
  
      <mat-card-footer> 
         <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="start center" >
           
            <mat-icon [matMenuTriggerFor]="belowMenu" >more_vert</mat-icon>
            <mat-menu #belowMenu="matMenu" yPosition="below">
               <button mat-menu-item (click)="deleteNote(item)">Restore</button>
               <button mat-menu-item (click)="deletePermanently(item)">delete permanently</button>
             </mat-menu>
            

          </div>
       </mat-card-footer>
     </mat-card>
   </div>
`
