

<mat-toolbar style="background: white; border-bottom:5px  black" >
   
    <!-- <span><button mat-button (click)="sidenav.toggle()"> <mat-icon>dehaze</mat-icon> </button></span>
    <span><img src="../../../assets/images/png/keep.png"/></span>
    <span>  <h1>{{title}}</h1></span>

    <mat-icon>search</mat-icon>
    <span><form class="example-form">
        
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Search" [formControl]="emailFormControl">
        </mat-form-field>
      </form>
    </span> -->
    


    <div fxLayout="row"  fxLayoutAlign="start center" fxFlex="100" >
        <span><button mat-button (click)="sidenav.toggle()"> <mat-icon>dehaze</mat-icon> </button></span>
        <div fxFlex="5"><img src="../../../assets/images/png/keep.png"/></div>
         <div fxFlex="10" > <h1>{{title}}</h1></div>
      
       <div  class ="searchbox"fxFlex="30" fxLayoutAlign="space-between center" style="height: 38px">
              
                <input style="border: none;margin-left: 9px; outline: none; background: whitesmoke"fxFlex='80' autocomplete="off"  matInput placeholder="Search" [formControl]="emailFormControl">
                <mat-icon >search</mat-icon>
              
           
       </div>
       <input type="file" #fileselect (change)="upload($event)" style="display: none">
       <!-- <div fxFlex="5"><button mat-button (click)="sidenav.toggle()"> <mat-icon>refresh</mat-icon> </button></div>
       <div fxFlex="5"><button mat-button (click)="sidenav.toggle()"> <mat-icon>view_stream</mat-icon> </button></div>
       <div fxFlex="5"><button mat-button (click)="sidenav.toggle()"> <mat-icon>account_circle</mat-icon> </button></div> -->
      <div fxFlex fxLayoutAlign="end center" fxLayoutGap='6%'> <span> <mat-icon mat-button (click)="sidenav.toggle()">refresh</mat-icon></span>
        <span> <mat-icon>view_stream</mat-icon></span>
        <span> <mat-icon (click)="fileselect.click()">account_circle</mat-icon></span></div>

    </div>
    
  </mat-toolbar>

  <mat-sidenav-container class="example-container" >
      <mat-sidenav class="nav-side" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
                   (closed)="events.push('close!')">
                   <div fxLayout="column"  fxLayoutAlign="center start "  >
        <div (click)="onNotes()"  style="width: 200px; height: 50px"  fxLayout="row" fxLayoutAlign="space-evenly center"> <mat-icon >lightbulb_outline</mat-icon>NOTES </div>
        <div (click)="onReminder()" style="width: 200px; height: 50px;  border-bottom:1px solid black" fxLayout="row" fxLayoutAlign="space-evenly center">  <mat-icon >notifications</mat-icon>Reminder </div>
        <div  style="width: 250px; height: 50px;" fxLayout="row" fxLayoutAlign="start center"><b>Labels</b></div>
        <div (click)="onEditLabel()" style="width: 200px; height: 50px; border-bottom:1px solid black"  fxLayout="row" fxLayoutAlign="space-evenly center"><mat-icon >create</mat-icon>EditLabel </div>
        <div (click)="onArchive()" style="width: 200px; height: 50px" fxLayout="row" fxLayoutAlign="space-evenly center"> <mat-icon >archive</mat-icon>Archive </div>
        <div (click)="onDelete() "style="width: 200px; height: 50px" fxLayout="row" fxLayoutAlign="space-evenly center"> <mat-icon >delete</mat-icon>Trash </div>
      </div>
      </mat-sidenav>
    
      <mat-sidenav-content>
        
        
        <p>Events:</p>
        <div class="example-events">
          <div *ngFor="let e of events">{{e}}</div>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>\




