<h2 mat-dialog-title>ProfilePic</h2>
<mat-dialog-content class="mat-typography">


<input type="file" (change)="fileChangeEvent($event)" />

<image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="4 / 3"
    [resizeToWidth]="128"
    format="png"
    (imageCropped)="imageCropped($event)"
    (imageLoaded)="imageLoaded()"
    (cropperReady)="cropperReady()"
    (loadImageFailed)="loadImageFailed()"
></image-cropper>
<button mat-button (click)=" imageCropped($event)"> Crop </button>
<img [src]="croppedImage"  />
</mat-dialog-content>
<mat-dialog-actions style="align:end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="setProfile()" [mat-dialog-close]="true" cdkFocusInitial>Done</button>
</mat-dialog-actions>
