
  

<mat-card [style.background]="data.color"  style="width: 96%;height: fit-content;overflow:hidden;" >
    <mat-dialog-content>
        <mat-card-content >
           <p> <textarea class="text-area-style"  [style.background]="noteColor" style="border: none;margin-left: 9px; outline: none; background: whitesmoke"fxFlex='80%' autocomplete="off"  matInput aria-placeholder="Title" [formControl]="title"></textarea></p>
           <p> <textarea class="text-area-style" [style.background]="noteColor"  style="border: none;margin-left: 9px; outline: none; background: whitesmoke"fxFlex='80%' autocomplete="off"  matInput placeholder="Take a Note..." [formControl]="description"></textarea></p>
      </mat-card-content>
    </mat-dialog-content>
  
      <mat-card-footer> 
         <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="space-evenly center" >
            <app-noteicon [noteDetails]="data.noteId"></app-noteicon>
            
            <span><mat-icon>undo</mat-icon>  </span>
            <span> <mat-icon>redo</mat-icon> </span>
            <span><button mat-button (click)="update()">Close</button></span>

          </div>
       </mat-card-footer>
     </mat-card>
    