<div class="icons" [ngStyle]="{'background':itemcolor}" fxLayout="row" fxLayoutAlign="space-around center">
        <mat-icon  [matMenuTriggerFor]="reminderMenu">add_alert</mat-icon>


        <mat-icon (click)="onCollaborator()">person_add</mat-icon> 
        <mat-icon  [matMenuTriggerFor]="aboveMenu">color_lens</mat-icon>
        <mat-menu  #aboveMenu="matMenu" >
                <div fxLayout="row wrap" >
                <div *ngFor= "let itemcolor of colorArray" (click)="onColorChange(itemcolor)" style="height: 25px;width:25px;border-radius: 50%" [ngStyle]="{'background': itemcolor }"></div>        
                </div>        
        </mat-menu>
        <mat-icon (click)="addImageToNote()">image</mat-icon> 
        <mat-icon (click)="addArchive(noteDetails)">archive</mat-icon>
        <mat-icon [matMenuTriggerFor]="belowMenu" >more_vert</mat-icon>  
</div>

        <mat-menu #reminderMenu="matMenu" yPosition="below" style="width: 100%">
                <button mat-menu-item (click)="today(noteDetails)">Today        8:00pm </button>
                <button mat-menu-item (click)="tommaro(noteDetails)">Tomorrow      8:00am</button>
                <button mat-menu-item (click)="nextWeek(noteDetails)">NextWeek   8:00am</button>
                <button mat-menu-item [matMenuTriggerFor]="dateMenu"><span>date dateTimePicker</span> </button>
                <!-- <mat-form-field>
                        <input matInput [matDatepicker]="picker1" placeholder="Angular forms" [formControl]="date">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field> -->
               
                
        </mat-menu>


         <mat-menu #dateMenu="matMenu" yPosition="below">
                <mat-form-field class="example-full-width">
                        <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Choose a date" [formControl]="date1">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>

                        <button mat-menu-item (click)="addReminder(noteDetails)">Save</button>
                      </mat-form-field>
                

        </mat-menu> 

        <mat-menu #belowMenu="matMenu" yPosition="below">
                 <button mat-menu-item (click)="deleteNote(noteDetails)">delete note</button>
                 <button mat-menu-item [matMenuTriggerFor]="afterMenu">Add Label</button>
         </mat-menu>

          <mat-menu #afterMenu="matMenu" yPosition="below">
                <!-- <button mat-menu-item (click)="addLabel(noteDetails)">delete note</button> -->
                <div *ngFor="let label of labelArray">  <mat-checkbox (click)="addLabel(noteDetails,label) " > {{ label.labelName}} </mat-checkbox>   </div> 
               
        </mat-menu> 