<div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-card class="getNoteDiv"  *ngFor="let item of notesArray" [ngStyle]="{'background': item.colour}">

            <mat-card-content (click)=onEdit(item.noteId)>
               <p> {{ item.title }} </p>
               <p> {{ item.description}} </p>
          </mat-card-content>
      
      
          <mat-card-footer> 
             <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="space-evenly center" >
                <app-noteicon (color)="receiveColor(color)" [noteDetails]="item.noteId" ></app-noteicon>
                <span><mat-icon>more_vert</mat-icon>  </span>
                <span><mat-icon>undo</mat-icon>  </span>
                <span> <mat-icon>redo</mat-icon> </span>
                <span><button mat-button (click)="addNote()" (click)="matBoolean = !matBoolean">Close</button></span>

              </div>
           </mat-card-footer>
         </mat-card>
       </div>

     