<div>
   <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card style="width: 30%">
         <p> <input *ngIf="!matBoolean" (click)="matBoolean = !matBoolean"
               style="border: none;margin-left: 9px; outline: none; background: whitesmoke" fxFlex='80'
               autocomplete="off" matInput placeholder="Take a Note..."></p>
      </mat-card>
   </div>


   <div fxLayout="row" fxLayoutAlign="center center">
      <mat-card style="width: 30%" *ngIf="matBoolean">

         <mat-card-content>
            <p> <textarea class="text-area-style" fxFlex='80' autocomplete="off" matInput placeholder="Title"
                  [formControl]="title"></textarea></p>
            <p> <textarea class="text-area-style" fxFlex='80' autocomplete="off" matInput placeholder="Take a Note..."
                  [formControl]="description" (enter)="addNote()" ></textarea></p>
         </mat-card-content>


         <mat-card-footer>
            <mat-dialog-actions align="end">
               <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="space-evenly center">
                  <app-noteicon></app-noteicon>

                  <span><button mat-button (click)="addNote()" (click)="matBoolean = !matBoolean">Close</button></span>

               </div>
            </mat-dialog-actions>

         </mat-card-footer>
      </mat-card>
   </div>
</div>


<div class="get-notes" fxLayout="row wrap" fxLayoutAlign="start end " cdkDropList class="example-list"
   (cdkDropListDropped)="drop($event)">
   <mat-card class="getNoteDiv" *ngFor="let item of notesArray" [ngStyle]="{'background': item.colour}" cdkDrag>
      <div fxLayout="row wrap" fxLayoutAlign="end center"><img src="../../../assets/images/svg/unpin.svg"
            (click)=onPin(item) alt="pinned"></div>
      <mat-card-content (click)="onEdit(item)">
         <p> {{ item.title }} </p>
         <p> {{ item.description}} </p>
         <div  fxLayout="row wrap" fxLayoutGap="10px" *ngIf="item.listLabel.length > 0">
            <mat-chip-list *ngFor="let items of item.listLabel">
               <mat-chip class="add-label"> {{items.labelName}} <mat-icon (click)="deleteLabel(item,items)"> clear</mat-icon>
               </mat-chip>
            </mat-chip-list>
         </div>

      </mat-card-content>


      <mat-card-footer>
         <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="space-evenly center">
            <app-noteicon (color)="receiveColor(color)" (colorChanged)="changedColor(color)"
               (archiveChanged)="changedArchive()" [noteDetails]="item"></app-noteicon>
            <!--                
                <span><mat-icon>undo</mat-icon>  </span>
                <span> <mat-icon>redo</mat-icon> </span>
                <span><button mat-button (click)="addNote()" (click)="matBoolean = !matBoolean">Close</button></span> -->

         </div>
      </mat-card-footer>
   </mat-card>
</div>


<h2>pinned Notes</h2>

<div fxLayout="row wrap" fxLayoutAlign="start end">
   <mat-card class="getNoteDiv" *ngFor="let item of pinnedArray" [ngStyle]="{'background': item.colour}">
      <div fxLayout="row wrap" fxLayoutAlign="end center"><img src="../../../assets/images/svg/pin.svg"
            (click)=onPin(item) alt="pinned"></div>
      <mat-card-content (click)=onEdit(item)>

         <p> {{ item.title }} </p>
         <p> {{ item.description}} </p>
         <div  fxLayout="row wrap" fxLayoutGap="10px" *ngIf="item.listLabel.length > 0">
            <mat-chip-list *ngFor="let items of item.listLabel">
               <mat-chip class="add-label"> {{items.labelName}} <mat-icon (click)="deleteLabel(item,items)"> clear</mat-icon>
               </mat-chip>
            </mat-chip-list>
         </div>
      </mat-card-content>


      <mat-card-footer>
         <div class="cardFooterIcons" fxLayout="row" fxLayoutAlign="space-evenly center">
            <app-noteicon (color)="receiveColor(color)" (colorChanged)="changedColor(color)"
               (archiveChanged)="changedArchive()" [noteDetails]="item"></app-noteicon>
            <!--                
                 <span><mat-icon>undo</mat-icon>  </span>
                 <span> <mat-icon>redo</mat-icon> </span>
                 <span><button mat-button (click)="addNote()" (click)="matBoolean = !matBoolean">Close</button></span> -->

         </div>
      </mat-card-footer>
   </mat-card>
</div>